@{
    ViewData["Title"] = "Index";
}

<h2>Home</h2>

<p>Wellcome.</p>
<p>Here you can start a lottery and check if there are any winnings on the tickets.</p>
<br>
<p>Always start generate new numbers first time application is launched.</p>
<br>

